.terms-select {
  margin: 1rem;
  text-align-last: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 18rem;
  height: 2.8rem;
  font-size: large;
  box-sizing: border-box;
  border-radius: 82px;
  border-color: grey;
  border-width: thick;
}

.selector-form {
  display: flex;
}

.colleges-select {
  margin: 1rem;
  text-align-last: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 28rem;
  height: 2.8rem;
  font-size: large;
  box-sizing: border-box;
  border-radius: 82px;
  border-color: grey;
  border-width: thick;
}

.selector__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1.3rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.selector__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
