.nav {
  position: fixed;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  /*   display: flex;
  justify-content: space-between; */

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  height: 30px;
  object-fit: contain;
}

._settings {
  position: fixed !important;
  right: 20px !important;
  width: 35px !important;
  object-fit: contain !important;
}

.nav__settings {
  position: fixed;
  right: 20px;
  width: 25px;
  object-fit: contain;
  color: gray;
}
